name: scramp

on: [push]

jobs:
  pytest:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    container: python:${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          # Add safe directory to work around bug in GitHub actions/checkout
          git config --global --add safe.directory ${GITHUB_WORKSPACE}
          python -m pip install --upgrade pip
          pip install pytest pytest-mock .

      - name: Run pytest tests
        run: |
          python -m pytest -x -v -W error test --ignore=test/test_readme.py

  checks:

    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 Flake8-pyproject flake8-alphabetize pytest black passlib .

      - name: Run checks
        run: |
          black --check .
          flake8 .
          python -m pytest -x -v -W error test/test_readme.py
